@font-face {
  font-family: 'TT Hoves Pro';
  src: url('@/assets/fonts/TT-Hoves-Pro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('@/assets/fonts/TT-Hoves-Pro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TT Hoves Pro';
  src: url('@/assets/fonts/TT-Hoves-Pro-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Forum';
  src: url('@/assets/fonts/Forum-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
